@use "../abstracts/variables";
@use "../abstracts/mixins";

.wrapper {
  padding: 16px;
  .article {
    background-color: aliceblue;
    border-radius: 24px;
    padding: 16px 24px;
    margin-bottom: 16px;
    box-shadow:
      0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    img {
      width: 500px;
      height: 300px;
    }
  }
}

h1 {
  text-align: center;
}
